.product-card {
    border: 1px solid #8e44ad;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    background-color: #ecf0f1;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card h3 {
    margin: 0;
    font-size: 18px;
    color: #8e44ad;
}

.product-card p {
    margin: 0;
    font-size: 14px;
    color: #2c3e50;
}

.product-card select {
    width: 100%;
}

.product-card button {
    width: 100%;
    background-color: #8e44ad;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #673ab7;
}

#finalizarCompra,
#limpiarCarrito {
    width: 100%;
    margin-top: 10px;
}

#finalizarCompra:hover,
#limpiarCarrito:hover {
    opacity: 0.9;
}

.list-group-item {
    margin-top: 10px;
    background-color: #ecf0f1;
    color: #2c3e50;
}

.list-group-item:hover {
    background-color: #d2d7db;
}

.quitar-producto-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.quitar-producto-btn:hover {
    background-color: #c0392b;
}
